# Exclude sqlitedb files
*.sqlite3

# Python files and env
__pycache__
venv

# Exclude idea (should be in global gitignore usually)
.idea

# Exclude .env file
.env

# Exclude static and media files
images
static
data.csv
